* {
  font-family: 'Roboto', sans-serif;
}

/* MIX */
.logo {
  width:165px;
}

ul {
  margin-bottom: 0;
}

.bg_secondary {
  background-color: #F3F5F9;
}

.textb_color {
color: #006AFF;
}

.textw_color {
  color: white;
}

.textg_color {
  color: #68748F;
}

.textlg_color {
  color: #6E7993;
}

.textlb_color {
  color: #BECBEB;
}

.spacing_fix {
  font-size: 0;
}

.clearfix {
  content: "";
  display: block;
  clear: both;
}

/* Focus chrome fix */
:focus {
  outline: -webkit-focus-ring-color auto 0px;
}

.arrow_link,
.arrow_link:focus,
.arrow_link:hover,
.arrow_link:visited  {
  color: #006AFF;
}

.arrow_link::after {
  content: "\003E";
  margin-left: 8px;
}

/* Features box */

.features_box img {
  height: 40px;
}

.features_box h3 {
  font-weight: 700;
  font-size: 18px;
}

.features_box p {
  font-size: 15px;
  color: #6E7993;
  margin-bottom: 10px;
}

.features_box a {
  margin-bottom: 30px;
  display: block;
}

.signup_btn {
  padding: 8px 12px;
  background-color: white;
  border: 1px solid #006AFF;
  border-radius: 5px;
  color: #006AFF;
}

.signup_btn:hover {
  color: white;
  background-color: #006AFF;
}

/* TYPO */

a:focus {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

header .top_bar a:not(.signup_btn) {
  color: black;
}

header .top_bar a:not(.signup_btn):hover {
  color: black;
}

h1 {
  font-size: 50px;
  font-weight: 700;
}

h2 {
  font-weight: 700;
  font-size: 35px;
}

h2 ~ p {
font-size: 21px;
}

/* Dropdown links */
details {
  position: relative;
}

details summary {
  list-style: none;
}

details > summary::-webkit-details-marker {
  display: none;
}

details p {
  position: absolute;
}

details ul {
  position: absolute;
  background-color: white;
  z-index: 5;
  border: 1px solid black;
  padding: 10px 40px;
}

details li:hover {
  text-shadow: 0 0 6px #006AFF;
}

details li:not(:last-child) {
  margin-bottom: 10px;
}

/* HEADER */

/* Top-bar */

header .top_bar {
  background-color: white;
  padding: 15px 0 15px;
  vertical-align: middle;
  color: black;
  width: 100%;
}

header .top_bar nav:not(.nested_nav) {
  margin-top: 7px;
}

header .top_bar .hamburger_col {
  display: none;
}

header .top_bar .hamburger_col button {
  margin-top: 7px;
  border: none;
  background-color: transparent;
  line-height: 16px;
}

header .top_bar .hamburger_col i {
  font-size: 20px;
}

/* Responsive */
@media screen and (max-width:991px) {
  header .top_bar .hamburger_col {
    display: inline;
  }

  header .top_bar .row> *:not(.hamburger_col):not(:first-child) {
    display: none;
  }
}

@media screen and (max-width:767px) {
  header .logo {
    max-width: 100%;
  }
}

/* Hero */

.hero {
  margin-top: 61.52px;
  background-image: url(../img/bg-home-hero.svg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 80px 0;
}

.hero .hero_text p {
  font-size: 20px;
  color: #AEC4FF;
}

.hero .account_box {
  background-color: white;
  border-radius: 10px;
  padding: 20px 40px 30px;
  margin-left: 40px;
  max-width: 515px;
}

.hero .account_box h2 {
  font-size: 30px;
}

.hero .account_box h2 span {
  display: block;
  margin-top: 10px;
}

.hero .account_box div.form-group {
  margin-bottom: 10px;
}

.create_account_btn, .signup_google_btn {
  display: block;
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
}

.create_account_btn {
  background-color: #5899FD;
  color: white;
  border: none;
  padding:5px 0;
  border-radius: 4px;
}

.signup_google_btn {
  color: black;
  text-decoration: none;
  padding:5px 0;
  box-shadow: 2px 2px 1px lightgrey;
  border: 1px solid lightgrey;
  border-radius: 4px;
  font-weight: 700;
  background-image: url(../img/google-icon.png);
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat;
}

.signup_google_btn:hover {
  text-decoration: none;
  color: black;
}

.signup_google_btn:focus {
  color: black;
}

/* Responsive */
@media screen and (max-width: 991px) {
  h1 {
    font-size: 40px;
  }
}

@media screen and (max-width:767px) {
  .hero .account_box {
    margin: auto;
  }
}

/* Sponsors section */

.sponsors {
  padding: 30px 0;
}

.sponsors h3 {
  text-transform: uppercase;
  font-size: 16px;
}

.sponsors a {
  font-size: 16px;
}

.sponsors a:hover {
  color: #006AFF;
}


/* Responsive */
@media screen and (min-width: 768px) {
  .sponsors img {
    width: calc(100%/6 - 10px);
    vertical-align: middle;
  }

  .sponsors img:not(:last-child) {
    margin-right: 10px;
  }
}

@media screen and (max-width: 767px) {
  .sponsors img {
    width: calc(100%/2 - 50px);
    max-width: 230px;
    vertical-align: middle;
  }

  .sponsors img:nth-child(2n+2) {
    margin-left: 50px;
  }
}

/* MAIN */

main section {
  padding: 50px 0;
}

/* Deploy section */

.deploy_section h2 ~ p {
  margin-bottom: 40px;
  color: #53617E;
}

.deploy_section ul {
  list-style: none;
  margin-bottom: 40px;
  padding-left: 0;
}

.deploy_section ul button {
  color: #6E7993;
  background-color: transparent;
  border: none;
  padding: 10px 10px;
  border-left: 1px solid lightgrey;
  font-size: 18px;
}

.deploy_section ul button:hover {
  color: black;
  border-left: 1px solid black;
}

.deploy_section ul button:focus {
  color: black;
  border-left: 1px solid black;
}

.deploy_section .features_box p {
  font-size: 15px;
}

/* Carousel section */

.carousel_section h2 {
  padding-bottom: 20px;
}

.carousel_section p {
  padding-bottom: 60px;
}

.carousel_section .carousel_img {
  width: 50%;
  margin: 0 20px 30px;
}

.carousel_section .carousel_arrow {
  border: none;
  background-color: transparent;
  font-size: 60px;
}

.carousel_section .carousel_dot {
  border-radius: 50%;
  border: 1px solid #006AFF;
  background-color: transparent;
  height: 10px;
  width: 10px;
  padding: 0;
}

.carousel_section .carousel_dot:focus {
  border: 1px solid #006AFF;
  background-color: #006AFF;
}

/* Responsive */

@media screen and (max-width: 767px) {
  .carousel_section .carousel_arrow {
    display: none;
  }
}

/* Features section */

.features_section h2 {
  padding-bottom: 20px;
}

/* Regions section */

.regions_section {
  background: rgb(3,67,191);
  background: linear-gradient(180deg, rgba(3,67,191,1) 0%, rgba(9,9,121,1) 100%);
}

.regions_section ul {
  margin-top: 15px;
}

.regions_section li {
  padding: 10px;
}

.regions_section li:not(:last-child) {
  border-bottom: 1px solid white;
}

.regions_section li > * {
  display: inline-block;
}

.regions_section li span {
  float: left;
  width: 17%;
  text-transform: uppercase;
  font-weight: 700;
}

.regions_section li p {
  margin-bottom: 0;
}

.regions_section li a {
  float: right;
}

/* Responsive */

@media screen and (max-width:991px) {
  .regions_section ul:first-child {
    margin-bottom: 20px;
  }
}

@media screen and (max-width:360px) {
  .regions_section li a {
    display: block;
    float: none;
  }
}

/* 2nd carousel section */

.carousel_section .carousel_box {
  display: inline-block;
  vertical-align: middle;
  width: 50%;
  margin: 60px 20px 30px;
  background-color: white;
  padding: 70px 0;
}

.carousel_section .carousel_box img {
  margin-bottom: 20px;
  width: 50%;
}

.carousel_section .carousel_box p {
  color: #011447;
  padding-bottom: 0;
}

.carousel_section .carousel_box q {
  font-size: 20px;
  padding-bottom: 20px;
  border-left: none;
  display: block;
  color: #53617E;
}

.carousel_section .carousel_box span {
  font-weight: 700;
  display: block;
}

.carousel_section .carousel_box a {
  margin-top: 25px;
  display: block;
}

/* Responsive */
@media screen and (max-width: 991px) {
  .carousel_section .carousel_box img {
    width: 85%;
  }

  .carousel_section .carousel_box {
    padding: 40px 0;
  }
}

@media screen and (max-width: 767px) {
  .carousel_section .carousel_box img {
    width: 100%;
  }
}

/* Get started section */
.get_started {
  background: rgb(3,67,191);
  background: linear-gradient(180deg, rgba(2,61,182,1) 0%, rgba(5,25,150,1) 100%);
}

.get_started .signup_btn {
  margin-top: 30px;
  border: none;
  display: inline-block;
}

/* FOOTER */
footer {
  background-color: #011447;
  padding: 50px 0;
}

footer .social_copyright img {
  width: 50px;
}

footer .social_copyright p {
  padding: 15px 0;
  margin:0;
}

footer .social_copyright p span,
footer .social_copyright .fab {
  color: #4F5E7B;
}

footer .social_copyright .fab {
  font-size: 18px;
}

footer .social_copyright .fab:hover,
footer .social_copyright .fab:focus {
  color:white;
}

footer h4 {
  font-weight: 700;
  font-size: 17px;
  margin-top: 30px;
}

footer ul:not(.list-inline) li:not(:last-child) {
  margin-bottom: 8px;
}

footer a {
  color: currentcolor;
}

footer a:hover,
footer a:focus {
  color: white;
}

/* Shark popup */

.shark_popup {
  position: fixed;
  right: 0;
  bottom: 15px;
  width: 420px;
}

.shark_msg, .shark_img {
  margin-bottom: 25px;
}

.shark_msg {
  width: 300px;
  padding: 10px;
  background-color: white;
  margin-right: 15px;
  border-radius: 5px;
  color: #011447;
  position: relative;
  left:0;
  max-height: 60px;
  box-shadow: 0 0 2px #011141;
}

.msg_overflow {
  max-height: 50px;
}

/* .shark_msg::before {
  width: 2px;
  height: 15px;
  content: "";
  position: absolute;
  right: -2px;
  bottom: 9px;
  background-color: white;
} */

.shark_msg::before {
  content: "";
  border-bottom: 5px solid white;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	height: 2px;
	width: 20px;
  position: absolute;
  right: -11px;
  bottom: 14px;
  transform: rotate(90deg);
}

.shark_msg::after {
  width: 13px;
  height: 13px;
  content: "";
  position: absolute;
  right: -7px;
  bottom: 10px;
  transform: rotate(45deg);
  background-color: white;
  box-shadow: 0px 0px 2px 0px #011141;
  z-index: -1;
}

.shark_img {
  margin-top: 10px;
  width: 50px;
  height: 50px;
  background-color: #0B68FC;
  border-radius: 5px;
  position: relative;
  right:0;
}

.shark_img img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  position: relative;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
}

.shark_img::after {
  content: "2";
  text-align: center;
  font-size: 10px;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  background-color: red;
  border: 4px solid white;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  line-height: 17px;
}

/* Responsive */

@media screen and (max-width:991px) {
  .shark_popup {
    left: 0;
    right: auto;
    padding-left: 20px;
  }

  .shark_img {
    margin-bottom: 15px;
  }
}

@media screen and (max-width:767px) {
  .shark_popup {
    width:60%;
  }

  .shark_msg {
    width: calc(9/12 * 100%);
    max-width: 180px;
    font-size: 13px;
    padding: 5px;
  }

  .msg_overflow {
    overflow-y: scroll;
    overflow-x: hidden;
  }
}

@media screen and (max-width:499px) {
  .shark_popup {
    left: 0;
    right: auto;
    padding-left: 0;
  }

  .shark_img {
    margin-bottom: 5px;
  }

  .shark_msg {
    margin-bottom: 0;
  }
}
